* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, Times, "Times New Roman", serif;

}
.navbar-toggler-icon{
  color: #111;
  background-color: #04aa6d;
}
@media only screen and (min-width:769px) {
 .home {
  background-image: url("./2028728.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* opacity: 0.5; */
}
.apartment {
  background-color: floralwhite;
  width: 100%;
  height: 250vh;
}
.center {
  width: 65%;
  margin-left: 18%;
}
.center1 {
  background-color: white;
  width: 100%;
  height: 300px;
}

h1 {
  padding: 30px;
}
.center2 {
  width: 100%;
  height: 300px;
  background-color: darkcyan;
  position: relative;
  color: azure;
}
.center2 img {
  width: 100%;
  height: 300px;
  padding-left: 41%;
  position: absolute;
  top: 0px;
}

.center4 img {
  width: 100%;
  height: 300px;
  padding-left: 41%;
  top: 0px;
  position: absolute;
 
}
.center4 {
  width: 100%;
  height: 300px;
  background-color: darkcyan;
  color: azure;
  position: relative;
  margin-top: 60px; 
}
.center5 {
  width: 100%;
  height: 300px;
  background-color: white;
  color: darkcyan;
  padding: 10px;
}
.center5 p {
  /* margin: 10% ; */
  margin-top: 150px;
  text-align: center;
}
.center6 {
  width: 100%;
  height: 300px;
  background-color: darkcyan;
  position: relative;
  color: azure;
}
.center6 img {
  width: 100%;
  height: 300px;
  padding-right: 59%;
  position: absolute;
  top: 0px;
}
.center6 p {
  margin-left: 45%;
  font-size: 12px;
  color: white;
}
.center6 h1 {
  margin-left: 48%;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

input[type="text"],
input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  border: none;
}

input[type="submit"]:hover {
  opacity: 0.8;
} 
footer{
  display: flex;
  padding-left: 10px;
  background-color: grey;
  width: 100%;
}
}

@media only screen and (max-width: 425px) {
  .home{
  background-image: url("./2028728.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* opacity: 0.5; */
  }
  .container{
    width: 100%;
    height: 700px;
  }
  .apartment{
    background-color: floralwhite;
    width: 100%;
    height: 300vh;
  }
  .center {
    width: 65%;
    margin-left: 18%;
  }
  .center1 {
    background-color: white;
    width: 100%;
    height: 250px;
  }
  h1 {
    padding: 0px;
  }
  .center2 {
    width: 100%;
    height: 200px;
    background-color: darkcyan;    color: azure;
  }
  .center2 img {
    width: 100%;
    height: 160px;
    /* padding-left: 41%;
    position: absolute;
    top: 0px; */
  }
  .center3 {
    width: 100%;
    height: 300px;
    background-color: white;
    position: relative;
    color: azure;
  }
  .center3 img {
    width: 100%;
    height: 300px;
    /* padding-right: 59%;
    position: absolute;
    top: 0px; */
  }
  .center3 p {
    margin-left: 40%;
    font-size: 18px;
    padding: 100px;
    color: #111;
  }
  .center4 img {
    width: 100%;
    height: 140px;
    /* padding-left: 41%;
    position: absolute;
    top: 0px; */
  }
  .center4 {
    width: 100%;
    height: 180px;
    background-color: darkcyan;
    color: azure;
    /* position: relative; */
    margin-top: 60px;
  }
  
  .center6 img {
    width: 100%;
    height: 300px;
    /* padding-right: 59%;
    position: absolute;
    top: 0px; */
  }
  .center5 {
    width: 100%;
    height: 350px;
    background-color: white;
    color: darkcyan;
    padding: 10px;
  }
  .center6 {
    width: 100%;
    height: 300px;
    background-color: darkcyan;
    position: relative;
    color: azure;
  }
  .center6 img {
    width: 100%;
    height: 300px;
    /* padding-right: 59%; */
    /* position: absolute;
    top: 0px; */
  }
  .center6 h1{
    padding-bottom: 65px;
    background-color: darkcyan;
  }
  .center6 p {
    margin-top: -72px;
    font-size: 18px;
    color: white;
    background-color: darkcyan;
  }
  .grid-container{
    display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

input[type="text"],
input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  border: none;
}
footer{
  margin-top: 175%;
  display: flex;
  flex-direction: column;
}
}
@media only screen and (min-width:426px)  and (max-width:767px) {
  .home{
    background-image: url("./2028728.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* opacity: 0.5; */
    }
    .container{
      width: 100%;
      height: 700px;
    }
    .apartment{
      background-color: floralwhite;
      width: 100%;
      height: 300vh;
    }
    .center {
      width: 65%;
      margin-left: 18%;
    }
    .center1 {
      background-color: white;
      width: 100%;
      height: 250px;
    }
    h1 {
      padding: 0px;
    }
    .center2 {
      width: 100%;
      height: 200px;
      background-color: darkcyan;    color: azure;
    }
    .center2 img {
      width: 100%;
      height: 160px;
       padding-left: 0px;
      position: absolute;
      top: 40px; 
    }
    .center3 {
      width: 100%;
      height: 300px;
      background-color: white;
      position: relative;
      color: azure;
    }
    .center3 img {
      width: 100%;
      height: 300px;
      /* padding-right: 59%;
      position: absolute;
      top: 0px; */
    }
    .center3 p {
      margin-left: 40%;
      font-size: 18px;
      padding: 100px;
      color: #111;
    }
    .center4 img {
      width: 100%;
      height: 140px;
      padding-left: 0%;
      position: absolute;
      top: 40px; 
    }
    .center4 {
      width: 100%;
      height: 180px;
      background-color: darkcyan;
      color: azure;
      /* position: relative; */
      margin-top: 60px;
    }
    
    .center6 img {
      width: 100%;
      height: 300px;
      /* padding-right: 59%;
      position: absolute;
      top: 0px; */
    }
    .center5 {
      width: 100%;
      height: 350px;
      background-color: white;
      color: darkcyan;
      padding: 10px;
    }
    .center6 {
      width: 100%;
      height: 300px;
      background-color: darkcyan;
      position: relative;
      color: azure;
    }
    .center6 img {
      width: 100%;
      height: 300px;
      /* padding-right: 59%; */
      /* position: absolute;
      top: 0px; */
    }
    .center6 h1{
      padding-bottom: 65px;
      background-color: darkcyan;
    }
    .center5 p{
      margin-top: 25px;
      text-align: center;
    }
    .center6 p {
      margin-top: -72px;
      font-size: 10px;
      color: white;
      background-color: darkcyan;
    }
    
  input[type="text"],
  input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  input[type="submit"] {
    background-color: #04aa6d;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }
   
  @media only screen and (max-width: 320px) {
   .apartment{
    background-color: floralwhite;
    width: 100%;
    height: 300vh;
   }
   .center1 p{
    margin-top: -62px;
   }
   .center2 img{
    width: 100%;
    height: 128px;
    position: absolute;
    top: 172px;
    padding-left: 0%;
   }
   .center3 p{
    margin-left :15% ;
    padding: 0px;
   }
  }    
  
